.notice{
    float: left;
    background: bisque;
    margin: 100px 5px 100px 25%;
    width: 480px;
    height: 515px;
    opacity: 1;
}

.login{
    position: relative;
    float: right;
    background: azure;
    margin: 100px 10% 100px 5px;
    width: 480px;
    height: 515px;
    opacity: 1;
}

.website_login{
    width: 100%;
    height: 360px;
}

.javcount_login{
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.divider {
    width: 100%;
    height: 1px;
    position: relative;
    background-color: coral;
}

.divider-text{
    position: absolute;
    left: 160px;
    color: #303133;
    background: azure;
    transform: translateY(-50%);
}

.bg{
    background-size: 100%;
    opacity: 0.75;
    position: absolute;
    top: 60px;
    width: 100%;
    height: 800px;
}

.account{
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    width: 100%;
    display: grid;
    grid-gap: 40px 70px;
    box-sizing: border-box;
    border-radius: 10px;
}

.cont1{
    margin: 40px 130px;
}

.inp{
    grid-template-columns: 20% 70% 10%;
    display: grid;
    padding: 10px 0;
}

.img3{
    border-radius: 100%;
    width: 30px;
	height: 30px;
    position: relative;
}


.reg1{
    display:grid;
    grid-template-columns: 60% 40%;
    margin-top: 20px;
    margin-left:10px;
    font-size: 17px;
    font-weight: 600;
	font-family: Cursive;
}

.reg2{
    display:grid;
    grid-template-columns: 60% 40%;
    margin-left:10px;
    font-size: 17px;
    font-weight: 600;
	font-family: 楷体;
}

.img4{
    margin-top:3px;
    border-radius: 100%;
    width: 28px;
	height: 24px;
    padding: 4px 4px;
    position: relative;
    box-sizing: border-box;
}

.sub{
    margin-top:13px;
    background-color: #abdde5;
    height: 25px;
    width:158px;
    margin-left:50px;
    border-radius: 5px;
    cursor:pointer;
}

.sub:active{
    background-color: white;
}

.error_note{
    font-size:17px;
    font-family: 楷体;
    margin-top:25px;
    margin-left:40px;
}