<!DOCTYPE html>
<html>
	<head>
		<title>Demo</title>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
		<link rel = "stylesheet" type  = "text/css" href = "{{ url_for('static', filename='Demo.css') }}">
		<link rel = "icon" type = "image/x-icon" href = "static/资源/交大图标.png">
	</head>
	<body>
		<header>
			<div class = div_header>
				<div class = "pheader">SJTUers 轻 首 页</div>
			</div>
		</header>
		<div class = "holder"></div>
		<nav class = "menu">
			<div class = "row_container">
				<div class = "logo">
					<a href = "SJTUer_home.html"><img src = "static/资源/Demo样例.jpg"></a>
				</div>
				<div class = "div_nav">
					<ul class = "ul_nav">
						<li class = "li_nav"><a class = "a_nav" href = "https://www.bilibili.com" target = "_blank">饮食</a></li>
						<li class = "li_nav"><a class = "a_nav" href = "https://www.bilibili.com" target = "_blank">生活</a></li>
						<li class = "li_nav"><a class = "a_nav" href = "https://www.bilibili.com" target = "_blank">校园</a></li>
						<li class = "li_nav"><a class = "a_nav" href = "https://www.bilibili.com" target = "_blank">学习</a></li>
						<li class = "li_nav"><a class = "a_nav" href = "https://www.bilibili.com" target = "_blank">帮助</a></li>
						<li class = "li_nav"><a class = "a_nav" href = "https://www.bilibili.com" target = "_blank">论坛</a></li>
						<li class = "li_nav"><a class = "a_nav" href = "https://www.bilibili.com" target = "_blank">交通</a></li>
						<li class = "li_nav"><a class = "a_nav" href = "https://www.bilibili.com" target = "_blank">交友</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<main>
			<div class = "row">
				<section class = "recommend">
					<div class = "book_recommend">
						<ul style = "text-align: center;">
							{% for recommend in book_recommend %}
							<li class = "li_recommend"><a class = "a_recommend" href = "{{ recommend[2] }}" target = "_blank">
								<div>
									<img style = "position: absolute; left: 0;" src = "static/资源/{{recommend[0]}}.jpg">
								</div>
								<div>
									<p class = p_recommend>{{ recommend[1] }}</p>
								</div>
							</a></li>
							{% endfor %}
						</ul>
					</div>
				</section>
			</div>
			<div class = "row">
				<section class = "news">
					<h1>交大要闻</h1>
					<ul class = "ul_news">
						{% for news in sjtu_news_list %}
						<li class = "li_news"><a class = "a_news" href = "{{ news[1] }}" target = "_blank"><p class = p_news>{{ news[0] }}</p></a></li>
						{% endfor %}
					</ul>
				</section>
				<section class = "news">
					<h1>通知通告</h1>
					<ul class = "ul_news">
						{% for news in notice_news_list %}
						<li class = "li_news"><a class = "a_news" href = "{{ news[1] }}" target = "_blank"><p class = p_news>{{ news[0] }}</p></a></li>
						{% endfor %}
					</ul>
				</section>
				<section class = "news">
					<h1>媒体聚焦</h1>
					<ul class = "ul_news">
						{% for news in focus_news_list %}
						<li class = "li_news"><a class = "a_news" href = "{{ news[1] }}" target = "_blank"><p class = p_news>{{ news[0] }}</p></a></li>
						{% endfor %}
					</ul>
				</section>
			</div>
		</main>
		<footer>
			<nav class = "website">
				<div class = "div_website">
					<h5>常用网站</h5>
					<ul class = "ul_website">
						<li><a class = "a_website" href = "https://oc.sjtu.edu.cn/" target = "_blank">canvas</a></li>
						<li><a class = "a_website" href = "https://i.sjtu.edu.cn/" target = "_blank">教务处</a></li>
						<li><a class = "a_website" href = "https://mail.sjtu.edu.cn/" target = "_blank">交大邮箱</a></li>
						<li><a class = "a_website" href = "https://oc.sjtu.edu.cn/" target = "_blank">canvas</a></li>
					</ul>
				</div>
				<div class = "word">
					<p>饮水思源，爱国荣校。</p>   
				</div>
			</nav>
		</footer>
		<div class = "return_top">
			<div class = "return_top_icon">
				<a href = "#top"><img src = "static/资源/返回顶部.png/" class = "img_return_top"></a>
			</div>
		</div>
	</body>
</html>